# Build folders
bin/
obj/

# Rider
.idea/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# NuGet
packages/

# Environment files
.env
appsettings.Development.json

